@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>JQuery autocompletion binding</h3>
    <input class="autocomplet" data-autocompletion="@ViewBag.methodUrl"  data-error="@ViewBag.Error" data-Empty="@ViewBag.Empty"/>
</div>